
* {
  box-sizing: border-box;
  margin: auto;
}

body {
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin:0;
 }

  header{
  text-align: left;
  margin:0;
  padding:0;
}

nav {
  display: flex;
  background-color: #070707;
  
}

nav a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  align-items:flex-end;;
}

header p{
  text-align:center;
  color:rgb(27, 228, 201);
  font-size:48px;
  font-family: 'Times New Roman', Times, serif;
}


main {
  display: flex;
  flex-wrap: wrap;
}

aside {
  flex: 1;
  background-color:yellowgreen;
  padding: 80px;
  text-align: center;
  border:dotted black 4px;

}
aside p{
  display:flex;
  justify-content:flex-end ;
}

aside h1{
  font-size:30px;
}
section header{
  color:yellowgreen;
  font-size: large;
}

footer {
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

.pictures{
  flex: 4;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.photo {
 
  border-color:yellowgreen;
  border-style:dotted solid dashed;
  border-width: 3px;
  border-radius: 8px;
  padding: 10px;
  flex: 0 0 400px;
}

.photo header {
  padding: 20px;
}

.photo p {
  text-align: center;
}

.photo img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
